@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Universal */
*{
    font-family: 'Roboto Mono', monospace;
}
/* postion */
.position-relative{
    margin-top: 5%;
}

.middle {
    /* position: absolute; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: auto; */
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 10%;
    margin-bottom: 0%;
  }
